html {
    font-size: 10px;
}

/* General config */
.layout {
    width: 100%;
    height: 100dvh;
    font-size: 1.5rem;
    background-image: url("assets/img/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Design header */
.layout__header {
    width: 100%;
    height: 25%;
    background: linear-gradient(to right, #CFB9B2 0%, #695E5A 25%);
}

.header__title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    font-size: 4.8rem;
}

/* main design */
.layout__main {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 
.main__form {
    height: 25%;
    width: 100%;
    border: 1px solid black;
} */

.main__user-elements {
    height: 80%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #98756A;
}

.user__elements--empty {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #fafafa;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__elements {
    display: none;
}

.elements__empty-icon {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    right: 40%;
    top: 51.5%;
    border: 1px solid black;
    border-radius: 999px;
    background-color: #D1B1A6;
    color: black;
    font-size: 2rem;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.elements__empty-icon:hover {
    transform: scale(1.02);
}

.elements__text {
    width: 99%;
    height: 30%;
    background-color: #EBE0DD;
    margin-left: 2rem;
    padding: 4rem;
    font-size: 2rem;
    border: 1px solid black;

    display: flex;
    align-items: center;
}

.elements__text--empty {
    display: none;
}


.main__btn {
    height: 30%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__add,
.form__btn {
    display: block;
    height: 60%;
    width: 25%;
    background: linear-gradient(to left, #98756A, #AF8E84);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 4px 1px rgba(0, 0, 0, 0.25);
    /* transition: all 300ms step-start; */
}

.btn__add:hover {
    background: none;
    background-color: #D1B1A6;
    transform: scale(1.02);
}

/* Pop UP add work */
.elements__pop-up {
    position: fixed;
    background-color: #cfc1b8;
    width: 30%;
    height: 40dvh;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 12px 29px 43px 13px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    /* transition: all 300ms ease-in-out; */
    z-index: 999;
}

.elements__pop-up-hide {
    display: none;
}

.pop-up__form {
    /* height: 85%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.pop-up__title {
    height: 25%;
    font-size: 4rem;
    color: #444;
}

.form__input {
    height: 5rem;
    width: 100%;
    color: #444;
}

.form__btn {
    width: 100%;
    height: 5rem;
}